div.center{ display: flex;
          justify-content: center;
         align-items: center;}

table{ border: 1px solid black;
    border-collapse:collapse;
    width: 500px;
}

thead{ background-color:lightblue;
       }

th{ padding: 5px;
    background-color: #A9A9A9}
    
td{  text-align: center;
    font-size: 15px;
    color:linen;
    background-color:#5F9EA0;
    font-family: sans-serif;}
